html, body, div, span, applet, object, iframe,
h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline;
   font-family: "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   font-weight: inherit;
}

body {
  background-color: #202020;
  color: white;
  padding: 0.5em;
  text-align: center;
  font-family: "Helvetica Neueu", "Helvetica", "Arial", sans;
}

button, input, #loader {
  display: none;
}

input {
  width: 250px;
}

#LabelResults{
  color: rgb(255, 255, 255);
  position: absolute;
  top: 120px;
  padding-left:100px;
  text-shadow: 2px 2px #000000;

}
#FacesFound{

}

#JobTitleFound{
  color: rgb(45, 206, 39);
  position: absolute;
  bottom: 90px;
  text-shadow: 2px 2px #000000;
}

.rekLabel {
  font-size: 16pt;
}

#camera {
  display: inline-block;
  background-color: #eee;
  width: 640px;
  height: 480px;
  margin: 0.5em;
}

#camera .placeholder {
  padding: 0.5em;
}

#snapshots {
  height: 150px;
  margin: 0.5em 0;
  padding: 3px;

  border: 1px solid #aaa;

  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

#snapshots canvas, #snapshots img {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;

  height: 100%;
  margin-left: 3px;
  border: 3px solid transparent;
}

#snapshots .selected {
  border: 3px solid #000;
}

button, #upload_status, #upload_result, #loader {
  margin: 0.5em;
}

#everything{
	width:600px;
	margin:20px;
}

#FacesFound,#LabelResults {
  padding-top: 100px;
}

#chart{
  margin-top: 10px;
}

.bar{
	fill:#FF9900;
}

text.label{
	fill: #fff;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
}

text.category{
	fill: #fff;
	font-size: 14px;
}

	#power-gauge g.pointer {
		fill: #e85116;
		stroke: #b64011;
	}
  
  #power-gauge g.label text {
		text-anchor: middle;
		font-size: 14px;
		font-weight: bold;
		fill: #666;
	}